@import url("./base/root.css");
@import url("./base/reset.css");

/* @import url("./components/elements.css"); */

@import url("./utils/animations.css");
@import url("./utils/box-vbox.css");
@import url("./utils/colors.css");
@import url("./utils/display.css");
@import url("./utils/hide.css");
@import url("./utils/text.css");
/* @import url("./utils/transitions.css"); */
/* @import url("./utils/"); */


/* Universal Styling */
@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
       url('/fonts/Vazirmatn[wght].woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
body  {font-family:Vazirmatn,sans-serif;direction:rtl;}