---

---
<header class="a-bx-row">
    <nav class="a-vbx-rsp">
        <div class="links a-flx a-flx-evn">
            <a class="clr-3"href="/">Albors</a>
            <a class="clr-3"href="/extra">Alborx</a>
            <a class="clr-3"href="">Github</a>
        </div>
    </nav>
</header>

<style lang="scss">
    header{
        padding: 1rem 0;
        margin-bottom: 2rem;
        border-bottom: 2px dashed #231F20;
    }
    a{
        font-weight: bold;
    }
</style>
