---

---
<header class="a-bx-row bg-3 ">
    <nav class="a-vbx-rsp">
        <div class="links a-flx a-flx-evn">
            <a class="clr-1" href="/">Main</a>
            <a class="clr-1" href="/albors">Albors</a>
            <a class="clr-1" href="/alborx">Alborx</a>
            <a class="clr-1" href="">Github</a>
        </div>
    </nav>
</header>

<style lang="scss">
    header{
        padding-top: 1rem 0;
        border-bottom: 2px dashed #6C464E;
    }
    nav{
        padding: 1rem 0;
    }
    a{
        font-weight: bold;
    }
</style>
