/* Text Align */
.text-left      {text-align: left;}
.text-center    {text-align: center;}
.text-right     {text-align: right;}
.text-justify   {text-align: justify;}

/* Font Size */
.text-large      {font-size: large;}
.text-larger     {font-size: larger;}
.text-medium     {font-size: medium;}
.text-small      {font-size: small;}
.text-smaller    {font-size: smaller;}
.text-xlarge     {font-size: x-large;}
.text-xsmall     {font-size: x-small;}
.text-xxlarge    {font-size: xx-large;}
.text-xxsmall    {font-size: xx-small;}

/* Font Weight */
.text-bolder    {font-weight: bolder;}
.text-bold      {font-weight: bold;}
.text-lighter   {font-weight: lighter;}
.text-normal    {font-weight: normal;}

/* Text Decoration Line */
.text-line-through  {text-decoration-line: line-through;}
.text-overline      {text-decoration-line: overline;}
.text-underline     {text-decoration-line: underline;}
.text-underoverline {text-decoration-line: overline underline;}
/* Text Decoration Style */
.text-dashed        {text-decoration-style: dashed;}
.text-dotted        {text-decoration-style: dotted;}
.text-double        {text-decoration-style: double;}
.text-solid         {text-decoration-style: solid;}
.text-wavy          {text-decoration-style: wavy;}

/* Text Decoration NONE */
.text-none          {text-decoration: none !important;}

/* Text Transform */
.text-uppercase   {text-transform: uppercase;}
.text-lowercase   {text-transform: lowercase;}
.text-capitalize  {text-transform: capitalize;}
